.face{
    border: 2px;
    height: 100px;
    width: 100px;
    background-color:chartreuse;
    margin-top: 140px;
    margin-left: 150px;
    margin-bottom: 100px;
    position: relative;
    border-radius:50%;
    transform-origin: bottom;
    animation: moveface 5s infinite;
}
.eye1{
    border:2px;
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: black;
    border-radius:50px 100px;
    rotate: 40deg;
    bottom: 50px;
    left: 15px;
    animation: moveeye1 5s infinite;
}
.eye2{
    border:2px;
    height: 19px;
    width: 20px;
    position: absolute;
    background-color: black;
    border-radius:50px 100px;
    rotate: 40deg;
    bottom: 50px;
    left: 60px;
    animation: moveeye2 5s infinite;
}
.mouth{
    border: 2px;
    height: 10px;
    width: 40px;
    background-color: black;
    animation: movemouth 5s infinite;
    position: absolute;
    top: 70px;
    left: 27px;
}
.body{
    border: 2px;
    background-color:chartreuse;
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    bottom: 100px;
    left: 150px;
    transform-origin: top;
    animation: movebody 5s infinite;
}
.lefthand{
    border: 2px;
    background-color: chartreuse;
    height: 10px;
    width: 80px;
    position:relative;
    transform: rotate(110deg);
    transform-origin:top;
    bottom: 165px;
    left: 95px;
    animation: movelefthand 5s infinite;
}
.righthand{
    border: 2px;
    background-color: chartreuse;
    height: 10px;
    width: 85px;
    position:relative;
    transform: rotate(74deg);
    transform-origin: top;
    bottom: 173px;
    left: 220px;
    animation: moverighthand 5s infinite;
}
.leftleg{
    border: 2px;
    background-color: chartreuse;
    height: 10px;
    width: 80px;
    position: relative;
    left: 130px;
    bottom: 85px;
    transform: rotate(90deg);
    transform-origin: top;
    animation: moveleftleg 5s infinite;
}
.rightleg{
    border: 2px;
    background-color: chartreuse;
    height: 10px;
    width: 80px;
    position: relative;
    transform: rotate(90deg);
    left: 190px;
    bottom: 95px;
    transform-origin: top;
    animation: moverightleg 5s infinite;
}
@keyframes movelefthand{
    0%{
        transform: rotate(0deg)
    }
    25%{
        transform: rotate(60deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
   
}
@keyframes moverighthand {
    0%{
        transform: rotate(0deg)
    }
    25%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
   
}
.pagebody{
    background-color:black;
}
h1{
    background-color: chartreuse;
}